/* Styles for main page, excluding the input times */

/* Sticky footer styles */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;
  margin-top: 2em;
  border-top: solid 1px #999F9E;
  padding-top: 1em;
  background-color: #CED6D4;
}

/* Heading styles */
.heading {
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: solid 1px #999F9E;
}

/* Main div styles */
.main {
  padding-bottom: 4em;
}

/*form styles*/
.input-time {
  margin: 0.5em 0;
  padding: 0.5em 0;
}

.form-inline {
  white-space: nowrap;
}

.form-group {
  margin-right: 1em;
  margin-top: inherit;
}

.btn-round {
  border-radius: 50%;
}

.btn-submit {
  margin-top: 1em;
}
